* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.website {
    padding: 5px 0;
    background-color: burlywood;
}

.website ul li {
    display: inline-block;
    color: white;
    margin-right: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

header h1 {
    float: left;
    padding: 15px 0;
    color: burlywood;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    padding: 25px 20px;
    display: inline-block;
}

header ul li a:hover {
    background-color: burlywood;
    color: white;
}

.active {
    background-color: burlywood;
    color: white;
}

.banner {
    height: 60vh;
    background-image: url("matebook.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: burlywood;
    opacity: .6;
}

.banner h2 {
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
}

section h3 {
    padding: 20px;
    color: black;
    text-align: center;
    margin-left: 130px;
    margin-right: 130px;
}

.about p {
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.footer {
    height: 30px;
    background-color: burlywood;
    text-align: center;
    padding-top: 15px;
    margin-top: 58px;
}

.footer .made {
    color: white;
}

button {
    background: burlywood;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    font-family: sans-serif;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px;
    margin-left: 280px;
    margin-inline-end: -250px;
}

h2 {
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

table {
    margin: auto;
    color: rgb(51, 82, 74);
    padding: 60px;
    background-color: burlywood;
    padding: 15px;
}

.label {
    padding: 10px;
}

input {
    border-radius: 5px;
    height: 30px;
    width: 700px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 280px;
}

label {
    margin-left: 280px;
    font-family: sans-serif;
}

form {
    background-color: rgb(236, 216, 190);
}